body {
    color:#000;
    text-align: center;
    text-decoration:none;
    text-shadow:0 .1vw #fff;
}

a {
   font-size: 5vw;
   display: block;
   color: black;
}


#chess_board {
    height: 64vw;
    width: 64vw;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
    height: 11%;
}

.cell {
    position: relative;
    float: left;
    width: 11%;
    height: 100%;
    border-color: black;
    border: .2vw;
    border-style: solid;
    text-align: center;
    font-size: 4vw;
    color: gray;
}

#chess_board .row:nth-child(odd) .cell:nth-child(even),
#chess_board .row:nth-child(even) .cell:nth-child(odd) {
    background:#ccc;
    background:-moz-linear-gradient(top, #ccc, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
    box-shadow:inset 0 0 1vw rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 1vw rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 1vw rgba(0,0,0,.4);
}

.available-cell{
    /*height: 100px;
    width: 100px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;*/
    background: #99ff99;
}

.clicked-cell{
    background-color: #bddfeb;
}
